html,body,header,nav {
/*    text-size-adjust: none;*/
    -webkit-text-size-adjust: 220%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 125%;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif; /*Ставім стандартныя шрыфты*/
    margin:2em auto auto;
    background-color: white;
    padding-left: 0.8%;
    padding-right: 0.8%;
    max-width: 1080px;
    min-width: 540px;
    font-size: 1rem;
/*    border-block: unset;*/
}
nav.topmenu{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0;
    padding-bottom: 0.2rem;
    margin:0;
    margin-bottom: 0;
    border-bottom: solid;
}
nav.topmenu a{
    display: inline box;
    font-weight: bold;
    font-size: 1.25rem;
    padding-inline: 0.5rem;
    color: black;
    text-decoration: none;
}
nav.topmenu a.active{
    color:red;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.25rem;
    font-weight: bold;
}
ol.listki li a{color:red;}
ol.listki li a:visited{color: black;}
P{
    text-indent: 2em;
}